* {
  box-sizing: border-box;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-areas:
    "aside main";
  height: 100dvh;
}

.dashboard-container .main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.dashboard-container .sidebar {
  grid-area: aside;
  background-color: #f5fafa;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #e1e6e8;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  padding: 0.605rem 0;
  border-left: 3px solid transparent;
  border-bottom: none;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #454952;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.675rem;
  white-space: nowrap;
  padding-left: 0.5rem;
}

.sidebar nav ul li a svg {
  width: 1rem;
  height: 1rem;
}

.sidebar nav ul li.active {
  background-color: #ffffff;
  border-left: 3px solid #058c80;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.sidebar nav ul li.active a {
  color: #058c80;
}

.sidebar nav .brand {
  margin-left: 0.5rem;
  padding: 0.25rem 0 0.75rem 0;
}

.sidebar nav .brand h1 {
  color: #06427a;
  font-size: 1rem;
  margin-bottom: 0.100rem;
  font-weight: 800;
}

.sidebar nav .brand p {
  color: #556579;
  font-size: 0.675rem;
  margin-top: 0;
}

.sidebar footer {
  height: 130px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0 -0.75rem;
  padding: 1rem;
  gap: 0.75rem;
  border-top: 1px solid #e1e6e8;
}

.sidebar footer button {
  background: none;
  border: none;
  color: #454952;
  font-size: 0.725rem;
  font-family: inherit;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.sidebar .footer-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sidebar .footer-info img {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  object-fit: cover;
}

.sidebar footer button svg {
  width: 1rem;
  height: 1rem;
}

.sidebar .footer-text h2 {
  font-size: 0.675rem;
  color: #050709;
  margin-bottom: 0rem;
}

.sidebar .footer-text p {
  font-size: 0.5rem;
  color: #556579;
  margin-top: 0.30rem;
}

.dashboard-container main {
  grid-area: main;
  padding: 1rem 1.5rem;
  overflow-y: hidden;
  background-color: #f0faff;
}

.dashboard-container .main-header h1 {
  color: #00325f;
  font-size: 1.75rem;
  margin-bottom: 0;
  font-weight: 700;
  margin-top: 0.40rem;
}

.dashboard-container .main-header p {
  font-size: 0.800rem;
  margin-top: 0.05rem;
}

.dashboard-container .main-button {
  display: flex;
  gap: 0.75rem;
  margin-top: 0;
}

.dashboard-container .main-button button {
  height: 2.25rem;
  padding: 0 0.85rem;
  border-radius: 0.3rem;
  font-family: inherit;
  font-size: 0.725rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-weight: 550;
}

#plus {
  background-color: #05467d;
  color: white;
  border: 1px solid #05467d;
}

#shapes {
  background-color: #f0faff;
  color: #2a6d9c;
  border: 1.5px solid #2a6d9c;
}

.dashboard-container .main-button button svg {
  width: 0.75rem;
  height: 0.75rem;
}


/* =========================
   BUSCADOR DE ESPECIALIDADES
   ========================= */

.header-actions .search {
  margin-left: 0;
  margin-top: 0;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  width: 14rem;
  height: 2rem;
  padding: 0 0.5rem;
  background-color: #ffffff;
  border-radius: 0.2rem;
  border: 1px solid #d9e0e4;
}

.header-actions .search svg {
  width: 0.75rem;
  height: 0.75rem;
  color: #454952;
  flex-shrink: 0;
}

.header-actions #search-speciality {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  font-family: inherit;
  font-size: 0.625rem;
  color: #454952;
}


/* =========================
   TABLA DE ESPECIALIDADES
   ========================= */

.speciality-directory {
  margin-top: 1.5rem;
  padding: 0 0.5rem;
  background-color: #ffffff;
  border: 1px solid #d9e0e4;
  border-radius: 0.5rem;
  overflow: hidden;
}

.directory-table {
  width: calc(100% + 1rem);
  border-collapse: collapse;
  table-layout: fixed;
  margin: 0 -0.5rem;
}

.directory-table thead {
  background-color: #F7F9FB;
  border-bottom: 1px solid #E9EFF6;
}

.directory-table th:nth-child(1) {
  width: 25%;
}

.directory-table th:nth-child(2) {
  width: 45%;
}

.directory-table th:nth-child(3) {
  width: 15%;
}

.directory-table th:nth-child(4) {
  width: 15%;
}

.directory-table th {
  text-align: left;
  padding: 0.75rem 0.75rem;
  font-size: 0.625rem;
  color: #454952;
  font-weight: 700;
}

.directory-table td {
  padding: 0.75rem 0.75rem;
  font-size: 0.625rem;
  color: #454952;
  border-bottom: 1px solid #d9e0e4;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.directory-table .speciality-info {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.directory-table .speciality-info span {
  font-size: 0.725rem;
  color: #29426c;
  font-weight: 650;
  margin: 0;
}

.directory-table .speciality-info svg {
  width: 2rem;
  height: 2rem;
  padding: 0.45rem;
  background-color: #dff3fc;
  color: #07558c;
  border-radius: 0.15rem;
  flex-shrink: 0;
}

.status {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  padding: 0.2rem 0.5rem;
  border-radius: 1rem;
  font-weight: 700;
}

.status::before {
  content: "";
  width: 0.25rem;
  height: 0.25rem;
  border-radius: 100%;
}

.status.active {
  background-color: #f0fafa;
  color: #1f988c;
}

.status.active::before {
  background-color: #1f988c;
}

.status.on-leave {
  background-color: #fafae6;
  color: #c88701;
}

.status.on-leave::before {
  background-color: #c88701;
}


/* =========================
   FOOTER Y PAGINACIÓN
   ========================= */

.directory-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 -0.5rem;
  padding: 0.75rem;
  background-color: #e6f5ff;
}

.directory-footer p {
  font-size: 0.55rem;
  color: #454952;
  margin: 0;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.pagination button {
  background: transparent;
  border: 1.5px solid #898f9b;
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0.5rem 0.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination button svg {
  height: 1rem;
  width: 1rem;
  color: #454952;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


/* =========================
   CARDS DE ESPECIALIDADES
   ========================= */

.summary-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  padding-top: 1.5rem;
  max-width: 650px;
}

.summary-card {
  position: relative;
  min-height: 6.25rem;
  background-color: #ffffff;
  padding: 0.75rem;
  border: 1px solid #d9e0e4;
  border-radius: 0.3rem;
  overflow: hidden;
}

.summary-card.total-specialties {
  border-left: 3px solid #29426c;
}

.summary-card.most-demanded {
  border-left: 3px solid #29426c;
}

.summary-card.new-specialties {
  border-left: 3px solid #1f988c;
}

.summary-card .card-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.summary-card .card-content p {
  font-size: 0.625rem;
  color: #2b2d30;
  font-weight: 500;
  margin: 0 0 0.45rem 0;
}

.summary-card .card-content strong {
  font-size: 1rem;
  font-weight: 400;
  color: #00325f;
  margin-bottom: 0.45rem;
}

.summary-card .card-content span {
  font-size: 0.625rem;
  color: #454952;
  font-weight: 500;
}

.summary-card .card-icon {
  position: absolute;
  top: 0.75rem;
  right: 0.75rem;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
  background-color: #f0f5f5;
}

.summary-card .card-icon svg {
  width: 1.1rem;
  height: 1.1rem;
}

.summary-card.total-specialties .card-icon {
  color: #29426c;
  background-color: #f0f5f5;
}

.summary-card.most-demanded .card-icon {
  color: #29426c;
  background-color: #f0f5f5;
}

.summary-card.new-specialties .card-icon {
  color: #1f988c;
  background-color: #e5f5f1;
}